<section class="container-fluid main">
    <div class="container">
        <div class="hero">
            <div class="text-div">
                <h1>{{title}}</h1>
                <p>
                    {{description}}
                </p>
                <button (click)="onScrollToSection()">
                    {{buttonText}}
                </button>
            </div>
            <div class="img-div">
                <img [src]="imgSrc" alt="besnik-beka">
            </div>
        </div>
    </div>
</section>