<div class="full-width">
  <div class="position-absolute">
    <div class="subscribe">
      <div class="content">
        <h3>Newsletter</h3>
        
      </div>
      <div class="form">
        <form>
          <div class="input">
            <input
              type="email"
              placeholder="Ihre E-Mail"
              formControlName="email"
            />
            <button (click)="onSend()" [disabled]="isSubmitting">Submit</button>
          </div>
          <div class="errors">
            @if (subscribeFormSubmitted &&
            subscribeForm.get('email')?.errors?.['required']) {
            <span class="error"> This field is required </span>
            } @if (subscribeFormSubmitted &&
            subscribeForm.get('email')?.hasError('pattern')) {
            <span class="error"> This field is required </span>
            }
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="custom-container">
    <div class="footer-section">
      <div class="footer">
        <div class="media">
          <div class="img">
            <img src="../../assets/images/logo.svg" alt="logo" />
          </div>
          <div class="social-media">
            <a><img src="../../assets/images/footer/facebook.svg" alt=""></a>
            <a><img src="../../assets/images/footer/instagram.svg" alt=""></a>
            <a><img src="../../assets/images/footer/linkedin.svg" alt=""></a>
            <a><img src="../../assets/images/footer/twitter.svg" alt=""></a>
          </div>
        </div>
        <div class="work-hours">          
          <ul>
            <li class="title">Open hours</li>
            <li>Monday-Friday</li>
            <li>08:00 - 12:00</li>
            <li>08:00 - 12:00</li>
          </ul>
        </div>
        <div class="contact">
          <ul>
            <li class="title">Contact</li>
            <li>
              <a href="mailto: health.insurance@health-insurance.com">
                {{ "info@h-insurance.com" }}
              </a>
            </li>
          </ul>
        </div>
        <div class="tel">
          <ul>
            <li class="title">Services</li>
            <li>
              <a> Health Insurance </a>
            </li>
            <li>
              <a> Provision </a>
            </li>
            <li>
              <a> Legal Insurance </a>
            </li>
            <li>
              <a> Car Insurance </a>
            </li>
            <li>
              <a> Pet Insurance </a>
            </li>
            <li>
              <a> Company Insurance </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
