@import "../../styles/index.scss";

.custom-container{
  max-width: 1268px;
  width: 100%;
  
}
.full-width {
  width: 100%;
  background-color: #186cce;
  margin-top: 100px;
  position: relative;
  display: flex;
  justify-content: center;

  .position-absolute {
    position: absolute;
    width: 100%;
    top: -80px;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    padding: 0 16px;

    .subscribe {
      max-width: 1100px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f6f6f6;
      border-radius: 16px;
      height: 166px;
      padding: 0 40px 0 40px;

      .content {
        display: grid;
        gap: 15px;
        width: 100%;
        max-width: 496px;

        h3{
          margin: 0;
        }
        @include mobile-view {
          gap: 5px;
        }
      }

      .form {
        form {
          .input-cover {
            max-width: 418px;
            width: 100%;
            display: flex;
            width: 100%;
            height: 40px;
            border-radius: 8px;
            .input-div{
              width: 100%;
            }
            input {
              border: 1px solid #e8e8e8;
              background-color: #fafafa;
              width: 100%;
              border-radius: 16px;
              height: 40px;
              padding: 0 10px;
              margin-right: 10px;

              &:focus-visible {
                outline: none;
              }
              @include mobile-view {
                height: 40px;
                padding: 8px 11px;
                margin-right: 0px;
              }
            }
            button {
              height: 40px;
              border: 0;
              border-radius: 16px;
              background-color: #8CC540;
              color: white;
              width: 125px;

             
              @include mobile-view {
                width: 100%;
              }
            }
            @include mobile-view {
              flex-direction: column;
              background-color: transparent;
              row-gap: 10px;
              height: 100%;
              width: 100%;
            }
          }
          .errors {
            span {
              color: red;
              font-size: 12px;
              margin: 5px 0 0 5px;
            }
          }
        }
        @include mobile-view{
          width: 100%;
        }
      }
      @include mobile-view {
        padding: 16px;
        flex-direction: column;        
        border-radius: 0;
        height: 100%;
        text-align: center;
        row-gap: 20px;
      }
    }
    @include mobile-view {
      padding: 0;
    }
  }

  .footer-section {
    display: grid;
    row-gap: 30px;
    padding: 160px 30px 70px 30px;
    .footer {
      display: flex;
      justify-content: space-around;

      .work-hours,
      .contact,
      .tel {
        ul {
          list-style: none;
          padding: 0;
          display: grid;
          gap: 5px;
          .title{
            font-size: 17px;
            font-weight: 700;
            margin-bottom: 10px;
          }
          li {
            
            color: white;
            font-size: 13.28px;

            a {
              color: white;
              text-decoration: none;
            }
          }
        }
      }
      .media {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        .img {
          max-width: 40px;
          max-height: 40px;
          img {
            border: 1px solid white;
            border-radius: 10px;
            width: 100%;
            height: 100%;
          } 
        }
        .social-media {
          display: flex;
          justify-content: space-between;
          gap: 12px;
        }

        @include mobile-view {
          margin-bottom: 24px;
          align-items: center;
          .img {
            max-width: 40px;
            max-height: 40px;
            img {
              border: 1px solid white;
              border-radius: 10px;
            } 
          }
        }
      }

      @include mobile-view {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        text-align: center;
      }
    }
    .rights {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      justify-content: space-between;

      .text {
        h6 {
          color: white;
        }
      }

      .links {
        ul {
          display: grid;
          grid-auto-flow: column;
          list-style: none;
          //   gap: $space-md;
          mat-divider {
            border: 1px solid white;
          }
          li {
            font-size: 11.5px;
            color: white;

            a {
              font-size: 11.5px;
              color: white;
              text-decoration: none;
            }
          }

          @include mobile-view {
            padding: 0;
            margin: 0;
          }
        }
      }

      @include mobile-view {
        justify-items: center;
        text-align: center;
        grid-auto-flow: row;
      }
    }

    @include mobile-view {
      padding: 160px 16px 16px 16px;
    }
  }
}
