<div class="container-fluid blog-details-section">
    <div class="container">
        <div class="blog-cover">
            <div class="date-time-div">

                <p><img class="clock-img" src="../../../assets/images/blogs/clock.png">{{ selectedBlog.date }}</p>
                <p>{{selectedBlog.minuteRead}}</p>
            </div>
            <div class="detail-main">
                <div class="main-info">
                    <h1>{{selectedBlog.mainTitle}}</h1>
                    <p>{{selectedBlog.first_paragraph}}</p>
                </div>
                <div class="photo-text-div">
                    <div class="img-div">
                        <img [src]="selectedBlog.imgUrl" alt="">
                    </div>
                    <div class="text-div">
                        @if(selectedBlog.second_title){
                            <h3>{{selectedBlog.second_title}}</h3>
                        }
                        @if(selectedBlog.second_paragraph){
                            <p class="first-paragraph">{{selectedBlog.second_paragraph}}</p>
                        }
                        @if (selectedBlog.third_title) {
                            <h3>{{selectedBlog.third_title}}</h3>
                        }
                        @if (selectedBlog.third_paragraph) {
                            <p>{{selectedBlog.third_paragraph}}</p>
                        }
                    </div>
                </div>
                <div class="other-details">
                    @if (selectedBlog.fourth_title) {
                        <h3>{{selectedBlog.fourth_title}}</h3>
                    }
                    @if (selectedBlog.fourth_paragraph) {
                        <p>{{selectedBlog.fourth_paragraph}}</p>
                    }
                    @if (selectedBlog.fifth_title) {
                        <h3>{{selectedBlog.fifth_title}}</h3>
                    }
                    @if (selectedBlog.fifth_paragraph) {
                        <p>{{selectedBlog.fifth_paragraph}}</p>
                    }
                </div>
            </div>
        </div>
    </div>

</div>

    
