<app-global-header
    title="Your independent partner for insurance solutions"
    description="Health insurance is your partner in matters of insurance and financing. You can rely on us if you have any questions about health insurance, pension plans or legal protection. Whether you are a corporate or private customer - our experts will advise you in the best possible way and find the right solution."
    imgSrc="../../assets/images/provision/provision.svg"
></app-global-header>
<app-insurance-content 
    firstImage="../../assets/images/provision/provision-1.jpg"
    secondImage="../../assets/images/provision/provision-2.jpg"
    firstTitle="Secure Your Future with Our Provision Plans"
    secondTitle="Invest in Your Tomorrow with Our Provision Insurance"
    firstDescription={{firstDesc}}
    secondDescription={{secondDesc}}
></app-insurance-content>
<app-global-accordion [dataArray]="accordionData"></app-global-accordion>