<app-global-header
    title="Provision Insurance: Secure Your Financial Future Today"
    description="Plan for a prosperous future with our provision insurance solutions. Whether it’s retirement savings, education funds, or long-term investments, our tailored plans help you achieve your financial goals and ensure lasting security."
    imgSrc="../../assets/images/provision/provision.svg"
></app-global-header>
<app-insurance-content 
    firstImage="../../assets/images/provision/provision-1.jpg"
    secondImage="../../assets/images/provision/provision-2.jpg"
    firstTitle="Secure Your Future with Our Provision Plans"
    secondTitle="Invest in Your Tomorrow with Our Provision Insurance"
    firstDescription={{firstDesc}}
    secondDescription={{secondDesc}}
></app-insurance-content>

<app-global-form></app-global-form>

<app-global-accordion [dataArray]="accordionData"></app-global-accordion>