@import '../../styles/index.scss';

.section{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px 0;
  z-index: 99999;
}
.custom-container{
  max-width: 1268px;
  margin: auto;
}
.navbar{
  box-shadow: 0 0 6px #00000014;
  padding: 15px 16px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  .logo{
    cursor: pointer;
    outline: none;
  }
  .nav-list{
    .header-nav{
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      list-style: none;
      .nav-li{
        min-width: 91px;
        text-align: center;
        a{
          color: #186cce;
        }
      }
      .k-vergleich{
        min-width: 91px;
        text-align: center;
        a{
          color: #186cce;
        }
      }
      li{
        padding-top: 4px;
        margin: 0 8px;
      }
      .rotate-90 {
        transform: rotate(-180deg);
      }
      .dropdown-arrow{
        transition: all 0.3s ease;
      }
      a{
        font-size: 14px;
        text-decoration: none;
        cursor: pointer;
      }
      .bold-text{
        font-weight: 600;
        opacity: 1!important;
      }
      ::ng-deep{
        .green-active{
          color: #8CC540!important;
          font-weight: 500!important;
        }
        .white-active{
          color: white!important;
        }
        .zusatz-active{
          font-weight: 600;
          color: white!important;
        }
      }


      .dropdown{
        position: relative;
        ul{
          list-style: none;
        }
        li{
          text-align: start;
        }
        .dropdown-content{
          z-index: 1;
          display: none;
          position: absolute;
          top: 60px;
          right:-276%;

          &.close-dropdown{
            animation: slide-up 0.5s cubic-bezier(0.150, 0.460, 0.450, 0.940) both !important;
            top: -500px !important;
          }
          &.close-dropdown,
          &.show-dropdown {
            display: flex;
            z-index: -1;
            width: 210px;
            max-width: 750px;
            min-height: 275px;
            border-radius: 16px;
            background-color: #186cce;
            padding: 1px;
            transition: top 0.5s ease-in-out !important;
            position: absolute;
            left: 0;
            @include mobile-view{
              min-height: auto;
            }
            li{
              margin: 0;
              padding: 11px 23px 11px 22px;
              border-radius: 18px;
              cursor: pointer;
            }
            .dropdown-div{
              display: flex;
              justify-content: flex-start;
              column-gap: 30px;
              background-color: white;
              border-radius: 16px;
              width: 100%;
              padding: 10px 0;
              
              ul{
              
                li{
                  a{
                    color:#186cce;
                  }
                }
              }
            }
            

            .grund{
              border-radius: 15px 0 18px 0;
            }
            .neu{
              border-radius: 0 18px 0 0;
            }
            // .zusatz{
            //   margin: 0 0 0 15px;
            //   border-radius: 23px 0 0 23px;
            //   padding: 11px 0 11px 7px;
            //   .bold-text{
            //     color: #186cce!important;
            //   }
            //   a{
            //     color: #506B8A;
            //   }
            //   background-color: white!important;
            // }
            a{
              color: #979797;
              width: 100%;
            }
            // .gray-background{
            //   background-color: #f3f3f3;
            //   border-radius: 0 18px  18px 0;
            //   padding: 2px 0;
            //   width: 263px;
            // }
            // .gray-background-2{
            //   background-color: #f3f3f3;
            //   padding: 2px 0;
            //   width: 262px;
            // }
            // .white-background{
            //   background-color: white;
            //   border-radius: 18px 0 0 18px;
            //   width: 212px;
            // }
          }
          .main-menu{
            padding: 14px 0;
            height: 100%;
          }
          .mobile-only{
            padding: 0;
            display: none;
          }
          // .desktop-only{
          //   background-color: #3D77BB;
          //   li{
          //     background-color: #3D77BB;
          //     padding:11px 23px 11px 32px;
          //   }
          //   .zusatz{
          //     padding:11px 23px 11px 18px;
          //   }
          //   border-radius: 15px 0 0 15px;
          //   a{
          //     color: #FFFFFF;
          //     opacity: 0.5;
          //   }
          // }
          // .dropdown-links-2{
          //   background-color: white;
          //   border-radius: 0 18px 18px 0;
          // }
          // .dropdown-links-3{
          //   background-color: #f3f3f3;
          //   border-radius: 0 18px 18px 0;
          // }
        }

      }


      .language-dropdown{
        position: relative;
        .int-button{
          max-width: 91px;
          display: flex;
          align-items: center;
          color: #3D77BB;
          background-color: #EBF1F8;
          border-radius: 16px;
          border: none;
          padding:8px 20px;
          font-size: 14px;
          outline: none;
          height: 32px;
          img{
            margin-right: 6px;
          }
          .lang-arrow{
            margin:0 0 0 6px!important;
          }
        }
        .language-dropdown-content{
          z-index: 1;
          display: none;
          position: absolute;
          top: 65px;

          &.close-lang-dropdown{
            animation: slide-up 0.5s cubic-bezier(0.150, 0.460, 0.450, 0.940) both !important;
            top: -500px !important;
          }
          &.close-lang-dropdown,
          &.show-lang-dropdown {
            display: flex;
            z-index: -1;
            width: 100%;
            border: 1px solid #ECECEC;
            border-radius: 10px;
            padding:0;
            margin: 0;
            left: -55px;
            background-color: white;
            min-width: 169px!important;
            max-height: 185px;
            box-shadow: 0px 0px 36px #0000001A;
            $dropdown-min-width:0rem;
            transition: top 0.5s ease-in-out !important;



              .anchor-parent{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 3px 0;
                border:1px solid #F7F9FC;
                &:nth-child(1){
                  border-radius: 12px 0 0 0;
                }
                &:nth-child(2){
                  border-radius:0 12px  0 0;
                }
                &:nth-child(9){
                  border-radius:0 0 0 12px;
                  border-bottom: none!important;
                }
                &:nth-child(10){
                  border-radius:0 0 12px  0 ;
                  border-bottom: none!important;
                }
              }
              .lang-li{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                margin: 0;
                padding: 0!important;

                a{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding: 4px 9px 4px 5px;
                  border-radius: 7px;
                  background-color: white;
                  min-width: auto;
                  text-align: center;
                  width: 68px;
                  color: #979797;
                  p{
                    margin: 0;
                    min-width: 20px;
                    font-size: 14px;
                    opacity: 0.8;
                  }
                  img{
                    margin-right: 5px;
                  }
                  &:active{
                    background-color: rgba(61, 119, 187, 0.12)!important;
                    color: #3D77BB
                  }
                  &:hover{
                    background-color: rgba(61, 119, 187, 0.12)!important;
                  }
                }
                .active{
                  background-color: rgba(61, 119, 187, 0.12)!important;
                  color: #3D77BB;
                  p{
                    opacity: 1!important;
                    font-weight: 600!important;
                  }
                }
              }
            }

        }
      }
      .pramien{
        background-color: #3D77BB!important;
        border-radius: 28px;
        padding: 4px 12px;
        margin: 0 0 0 25px;
        height: 36px;
        width: 174px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        a{
          color: #FFFFFF!important;
          text-align: center;
          line-height: 1.2;
          font-size: 14px;
        }
      }

    }
  }
  button{
    display: none;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-120%);
    opacity: 0;
  }
}
@media only screen and (max-width: 1300px) {
  .navbar{
    margin: 0 16px;
  }
  .logo {
    img {
      width: auto;
      height: 35px;
      outline: none;
    }
  }
}


@media only screen and (max-width: 1126px) {
  .navbar {
    border-radius: 35px;
    padding: 18.7px 16px;

    .logo {
      img {
        width: auto;
      }
    }

    button {
      display: block;
      position: absolute;
      top: 18px;
      right: 16px;
    }

    .button-close {
      background-color: #EBF1F8;
      width: 32px;
      height: 32px;
      border-radius: 50px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      .ham-menu {
        height: 17px;
        width: 16px;
        position: relative;
        span{
          height: 2px;
          width: 100%;
          background-color: #3D77BB;
          border-radius: 25px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: .4s ease;
          text-align: start;
          &:nth-child(1){
            top: 25%;
          }
          &:nth-child(3){
            top: 75%;
            width: 70%;
            height: 2px;
            left: 35.5%;
          }
        }
      }

    }

    .button-open {
      background-color: #FBEFEF;
      width: 32px;
      height: 32px;
      border-radius: 50px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      .ham-menu {
        height: 25px;
        width: 19px;
        position: relative;
        span{
          height: 2px;
          width: 100%;
          border-radius: 25px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: .4s ease;
          background-color: #BD2126;
        }
        span:nth-child(1){
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        span:nth-child(2){
          opacity: 0;
        }
        span:nth-child(3){
          top: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }

    .nav-list {
      display: none;
    }

    .close {
      display: none !important;
    }

    .pramien {
      display: none!important;
    }

    .close,
    .open {
      display: block;
      position: relative;
      max-height: 585px;
      overflow: auto;
      background-color: #fff;
      margin-top: 18px;
      width: 100%;
      padding: 15px 0 17px 0;
      transition: top 0.5s ease-in-out !important;
      z-index: 1;
      border-top: 1px solid #EBF1F8;

      &::-webkit-scrollbar {
        display: none;
      }

      scrollbar-width: none;

      & {
        -ms-overflow-style: none;
      }

      .nav-list {
        display: block;

        .header-nav {
          display: block;

          .nav-li {
            text-align: start;
          }

          .k-vergleich {
            text-align: start;
          }

          li {
            margin: 0;
            padding: 0 0 13px 0 ;
          }

          .dropdown {
            .dropdown-content {
              width: 100% !important;
              height: 100% !important;
              position: relative;
              right: 0;
              top: 0;

              &.close-dropdown {
                display: none !important;
              }

              &.close-dropdown,
              &.show-dropdown {
                animation: none;
                z-index: 1;
                margin-top: 13px;
              }
              li {
                margin: 0;
                padding: 11px 0 12px 17px ;
              }
              .zusatz{
                padding: 11px 0 10px 6px !important;
                margin-left: 12px;
              }
              .neu{
                padding-top: 15px;
              }
              .gray-background{
                width: 241px;
                //display: none;
              }
              .gray-background-2{
                //display: none;
                width: 263px;
              }
              .main-menu {
                padding: 12px 0 12px 0;
              }

              .white-background {
                //display: none;
                width: 200px;
              }

              .desktop-only {
                //border-radius: 18px;
                //display: none;
              }

              //.mobile-only {
              //  display: block;
              //  padding: 12px 12px 0 12px;
              //  width: 100%;
              //  background-color: #3D77BB;
              //  border-radius: 18px;
              //  margin-top: 9px;
              //
              //  li {
              //    padding: 0 0 13px 0 !important;
              //  }
              //
              //  a {
              //    color: #D8E4F1;
              //  }
              //
              //  .second-dropdown {
              //    .content-div {
              //      display: none;
              //
              //      &.close,
              //      &.show {
              //        display: block;
              //        background-color: white;
              //        border-radius: 18px;
              //        padding: 12px 16px 0 16px;
              //        margin-top: 11px;
              //
              //        ul {
              //          padding: 0;
              //
              //          li {
              //            padding: 0 0 9px 0 !important;
              //            font-size: 14px;
              //
              //            a {
              //              color: #979797;
              //            }
              //          }
              //        }
              //      }
              //    }
              //  }
              //}

              .dropdown-links-2 {
                //display: none;
              }

              .dropdown-links-3 {
                //display: none;
              }
            }

            .int-button {
              position: relative;
              top: 0;
              right: 0;
            }

          }

          .language-dropdown {
            position: relative;
            padding: 0!important;

            .language-dropdown-content {
              width: 100% !important;
              max-width: none!important;
              height: 100% !important;
              position: relative;
              right: 0;
              top: 0;
              .lang-li{
                a{
                  width: 93% !important;
                }
              }
              .anchor-parent{
                width: 25%;
              }
              &.close-lang-dropdown {
                display: none !important;
              }

              &.close-lang-dropdown,
              &.show-lang-dropdown {
                margin-top: 16px;
                animation: none;
                display: flex;
                position: relative;
                z-index: 1;
                background-color: white;
                min-width: 169px !important;
                max-height: 185px;
                box-shadow:none;

              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1023px) {
  .navbar{
    margin: 0 32px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar{
    margin: 0 16px;
  }
  .language-dropdown-content {
    width: 100% !important;
    max-width: none!important;
    .lang-li{
      a{
        width: 93% !important;
      }
    }

    .anchor-parent{
      width: 50% !important;
    }
  }

  .nav-list {
    display: block;

    .header-nav {
      display: block;

      .nav-li {
        text-align: start;
      }

      .k-vergleich {
        text-align: start;
      }

      li {
        margin: 0;
        padding: 0 0 13px 0 !important;
      }

      .dropdown {
        .dropdown-content {
          width: 100% !important;
          height: 100% !important;
          position: relative;
          right: 0;
          top: 0;

          &.close-dropdown {
            display: none !important;
          }

          &.close-dropdown,
          &.show-dropdown {
            animation: none;
            z-index: 1;
            margin-top: 0!important;
          }

          .gray-background{
            width: 241px;
            display: none;
          }
          .gray-background-2{
            display: none;
            width: 263px;
          }
          .main-menu {
            padding: 12px 12px 0 12px!important;
          }

          .white-background {
            display: none;
            width: 200px;
          }
          
          .dropdown-div{
            display: none!important;
          }
          .desktop-only {
            border-radius: 18px;
            display: none;
          }

          .mobile-only {
            display: block!important;
            padding: 12px 12px 0 12px;
            width: 100%;
            background-color: #186cce;
            border-radius: 18px;
            margin-top: 9px;

            li {
              padding: 0 0 13px 0 !important;
              a {
                color: #D8E4F1;
              }
            }



            .second-dropdown {
              .content-div {
                display: none;

                &.close,
                &.show {
                  display: block;
                  background-color: white;
                  border-radius: 18px;
                  padding: 12px 16px 0 16px;
                  margin-top: 11px;

                  ul {
                    padding: 0;

                    li {
                      padding: 0 0 9px 0 !important;
                      font-size: 14px;

                      a {
                        color: #979797!important;
                      }
                      .green-active{
                        color: #8CC540!important;
                      }
                      .white-active{
                        color: white!important;
                      }
                      .zusatz-active{
                        font-weight: 600;
                        color: white!important;
                      }
                    }
                  }
                }
              }
            }
          }

          .dropdown-links-2 {
            display: none;
          }

          .dropdown-links-3 {
            display: none;
          }
        }

        .int-button {
          position: relative;
          top: 0;
          right: 0;
        }

      }

    }
  }
}
@media only screen and (max-height: 500px) {
  .navbar{
    .open{
      max-height: 245px!important;
    }
  }
}


