@if (showNavbar){
    <div class="section">
      <div class="custom-container">
        <div class="navbar">
          <div class="logo" [routerLink]="['/', selectedLanguage, 'home']">
            <img src="../../assets/images/logo.svg" height="35px" alt="logo">
            
            <!-- <img src="{{GlobalConstants.appLogo}}" alt="info logo" (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'startseite']"> -->
          </div>
          <div class="mobile-menu" [class.open]="isMenuOpen" [class.close]="!isMenuOpen">
            <div class="nav-list">
              <ul class="header-nav">
                <li class="nav-li" (click)="closeDropdown()"><a routerLinkActive="bold-text" (click)="scrollToTop()"  >
                  Home
                </a></li>
                <li class="dropdown k-vergleich" (click)="toggleDropdown()">
                  <a class="dropdown-services" [ngClass]="{'bold-text': isDropdownOpen}">Health insurance comparison
                    <!-- <img class="dropdown-arrow" ngSrc="assets/images/arrow-down-caret.svg" height="8" width="8" alt="arrow-down arrow"
                         [class.rotate-90]="isDropdownOpen"> -->
                        </a>
                  <div class="dropdown-content"
                       [ngClass]="{ 'show-dropdown': isDropdownOpen, 'close-dropdown': !isDropdownOpen }">
                    
                       <div class="dropdown-div">
                        <div>
                          <ul>
                            <li (click)="scrollToTop()" ><a routerLinkActive="bold-text" >Basic insurance</a></li>
                            <li (click)="scrollToTop()" ><a routerLinkActive="bold-text" >Additional insurance</a></li>
                            <li (click)="scrollToTop()" ><a routerLinkActive="bold-text" >New in</a></li>
                            <li (click)="scrollToTop()" ><a routerLinkActive="bold-text" >Newborn babies</a></li>
                            <li (click)="scrollToTop()" ><a routerLinkActive="bold-text" >Health insurance</a></li>
                            <li (click)="scrollToTop()" ><a routerLinkActive="bold-text" >Online Beratung</a></li>
                            <li (click)="scrollToTop()" ><a routerLinkActive="bold-text" >Voluntary nursing supplements</a></li>
                            <li (click)="scrollToTop()" ><a routerLinkActive="bold-text" >Glasses and contact lenses</a></li>
                            <li (click)="scrollToTop()" ><a routerLinkActive="bold-text" >Preventive examinations</a></li>
                          </ul>
                       </div>

                       <div>
                          <ul>
                            <li (click)="scrollToTop()" ><a routerLinkActive="green-active" >Complementary medicine</a></li>
                            <li (click)="scrollToTop()" ><a routerLinkActive="green-active" >Fitness center</a></li>
                            <li (click)="scrollToTop()" ><a routerLinkActive="green-active" >Halb private</a></li>
                            <li (click)="scrollToTop()" ><a routerLinkActive="green-active" >Medication</a></li>
                            <li (click)="scrollToTop()" ><a routerLinkActive="green-active" >Rescue and transport</a></li>
                            <li (click)="scrollToTop()" ><a routerLinkActive="green-active" >Foreign protection</a></li>
                            <li (click)="scrollToTop()" ><a routerLinkActive="green-active" >Psychotherapy</a></li>
                            <li (click)="scrollToTop()" ><a routerLinkActive="green-active" >Dental treatments</a></li>
                            <li (click)="scrollToTop()" ><a routerLinkActive="green-active" >Alternative medicine</a></li>
                          </ul>
                       </div>
                       </div>
                      
                   
  
                   
  
                    <!-- <div class="gray-background-2">
                      <ul class="main-menu dropdown-links-2">
                        <li (click)="scrollToTop()"><a routerLinkActive="green-active"   >Voluntary nursing supplements</a></li>
                        <li (click)="scrollToTop()" ><a routerLinkActive="green-active" >Glasses and contact lenses</a></li>
                        <li (click)="scrollToTop()" ><a routerLinkActive="green-active" >Preventive examinations</a></li>
                        <li (click)="scrollToTop()" ><a routerLinkActive="green-active" >Complementary medicine</a></li>
                        <li (click)="scrollToTop()" ><a routerLinkActive="green-active" >Fitness center</a></li>
                        <li (click)="scrollToTop()" ><a routerLinkActive="green-active" >Halb private</a></li>
                      </ul>
                    </div>
                    <div class="gray-background">
                      <ul class="main-menu dropdown-links-3">
                        <li (click)="scrollToTop()" ><a routerLinkActive="green-active" >Medication</a></li>
                        <li (click)="scrollToTop()" ><a routerLinkActive="green-active" >Rescue and transport</a></li>
                        <li (click)="scrollToTop()"><a routerLinkActive="green-active" >Foreign protection</a></li>
                        <li (click)="scrollToTop()" ><a routerLinkActive="green-active" >Psychotherapy</a></li>
                        <li (click)="scrollToTop()" ><a routerLinkActive="green-active" >Dental treatments</a></li>
                        <li (click)="scrollToTop()" ><a routerLinkActive="green-active" >Alternative medicine</a></li>
                      </ul>
                    </div> -->
                    <ul class="main-menu mobile-only">
                      <li (click)="scrollToTop()"><a (click)="closeAllDropdowns()" routerLinkActive="zusatz-active" >Basic insurance</a></li>
                      <li class="second-dropdown" (click)="toggleSecondDropdown()">
                        <a [ngClass]="{'zusatz-active': isSecondDropdownOpen}">
                          Additional insurance
                          <!-- <img ngSrc="assets/images/white-arrow-down-caret.svg" height="8" width="8" alt="arrow-down arrow" [class.rotate-90]="isSecondDropdownOpen"> -->
                        </a>
                        <div class="content-div" [ngClass]="{ 'show': isSecondDropdownOpen, 'close': !isSecondDropdownOpen }">
                          <ul>
                            <li (click)="scrollToTop()"><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >Basic insurance</a></li>
                            <li (click)="scrollToTop()"><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >Voluntary nursing supplements</a></li>
                            <li (click)="scrollToTop()" ><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >Glasses and contact lenses</a></li>
                            <li (click)="scrollToTop()" ><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >Preventive examinations</a></li>
                            <li (click)="scrollToTop()" ><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >Complementary medicine</a></li>
                            <li (click)="scrollToTop()" ><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >Fitness center</a></li>
                            <li (click)="scrollToTop()" ><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >Medication</a></li>
                            <li (click)="scrollToTop()" ><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >Rescue and transtportation</a></li>
                            <li (click)="scrollToTop()" ><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >Foreign protection</a></li>
                            <li (click)="scrollToTop()" ><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >Psychotherapy</a></li>
                            <li (click)="scrollToTop()" ><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >Dental treatment</a></li>
                            <li (click)="scrollToTop()" ><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >Halb-private</a></li>
                            <li (click)="scrollToTop()" ><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >Alternative medicine</a></li>
                          </ul>
                        </div>
                      </li>
                      <li (click)="scrollToTop()" ><a (click)="closeAllDropdowns()" routerLinkActive="zusatz-active" >New in switzerland</a></li>
                      <li (click)="scrollToTop()"><a (click)="closeAllDropdowns()" routerLinkActive="zusatz-active" >Newborn babies</a></li>
                      <li (click)="scrollToTop()" ><a (click)="closeAllDropdowns()" routerLinkActive="zusatz-active" >Health insurance List</a></li>
                      <li (click)="scrollToTop()" ><a (click)="closeAllDropdowns()" routerLinkActive="zusatz-active" >Online Beratung</a></li>
  
                    </ul>
                  </div>
                </li>
                <li (click)="scrollToTop()" class="nav-li"><a routerLinkActive="bold-text" [routerLink]="['/', selectedLanguage, 'contact']" (click)="closeDropdown()">Contact</a></li>
                <li (click)="scrollToTop()" class="nav-li"><a routerLinkActive="bold-text"  (click)="closeDropdown()">Blog</a></li>
  
  
  
  
  
  
                <li class="language-dropdown" (click)="toggleLangDropdown()">
                  <a class="int-button">
                    <img ngSrc="assets/images/flags/globe.svg" alt="globe" height="16" width="16">
                    {{ displaySelectedLanguage }}
                    <img class="lang-arrow dropdown-arrow" ngSrc="assets/images/arrow-down-caret.svg" height="8" width="8" alt="arrow-down arrow" [class.rotate-90]="isLangDropdownOpen">
                  </a>
  
                  <div class="language-dropdown-content"  [ngClass]="{ 'show-lang-dropdown': isLangDropdownOpen, 'close-lang-dropdown': !isLangDropdownOpen }">
                    <div class="lang-li">
                      <div class="anchor-parent" *ngFor="let lang of langData">
                        <a class="dropdown-item"  (click)="changeLanguage(lang.value)" [ngClass]="{'active': lang.value === selectedLanguage}">
                          <img [ngSrc]="lang.img" alt="" height="16" width="16"><p>{{lang.value_dropdown}}</p>
                        </a>
                      </div>
                    </div>
  
  
                  </div>
                </li>
  
               
  
  
              </ul>
            </div>
          </div>
          <button (click)="toggleMenu()" [ngClass]="isMenuOpen ? 'button-open' : 'button-close'">
            <div class="ham-menu">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </button>
        </div>
      </div>
    </div>
  
  }
  