@if (showNavbar){
    <div class="section">
      <div class="custom-container">
        <div class="navbar">
          <div class="logo" [routerLink]="['/', selectedLanguage, 'home']">
            <img src="../../assets/images/logo.svg" height="35px" alt="logo">
            
            <!-- <img src="{{GlobalConstants.appLogo}}" alt="info logo" (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'startseite']"> -->
          </div>
          <div class="mobile-menu" [class.open]="isMenuOpen" [class.close]="!isMenuOpen">
            <div class="nav-list">
              <ul class="header-nav">
                <li class="nav-li" (click)="closeDropdown()"><a routerLinkActive="bold-text" (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'home']" >
                  Home
                </a></li>
                <li class="dropdown k-vergleich" (click)="toggleDropdown()">
                  <a class="dropdown-services" [ngClass]="{'bold-text': isDropdownOpen}">Insurances
                    <!-- <img class="dropdown-arrow" ngSrc="assets/images/arrow-down-caret.svg" height="8" width="8" alt="arrow-down arrow"
                         [class.rotate-90]="isDropdownOpen"> -->
                        </a>
                  <div class="dropdown-content"
                       [ngClass]="{ 'show-dropdown': isDropdownOpen, 'close-dropdown': !isDropdownOpen }">
                    
                       <div class="dropdown-div">
                        <div>
                          <ul>
                            <li (click)="scrollToTop()" ><a routerLinkActive="bold-text" [routerLink]="['/', selectedLanguage, 'health-insurance']"  >Health Insurance</a></li>
                            <li (click)="scrollToTop()" ><a routerLinkActive="bold-text" [routerLink]="['/', selectedLanguage, 'provision']"  >Provision</a></li>
                            <li (click)="scrollToTop()" ><a routerLinkActive="bold-text" [routerLink]="['/', selectedLanguage, 'legal-insurance']"  >Legal Insurance</a></li>
                            <li (click)="scrollToTop()" ><a routerLinkActive="bold-text" [routerLink]="['/', selectedLanguage, 'car-insurance']"  >Car Insurance</a></li>
                            <li (click)="scrollToTop()" ><a routerLinkActive="bold-text" [routerLink]="['/', selectedLanguage, 'pet-insurance']"  >Pet Insurance</a></li>
                            <li (click)="scrollToTop()" ><a routerLinkActive="bold-text" [routerLink]="['/', selectedLanguage, 'company-insurance']"  >Company Insurance</a></li>
                          </ul>
                       </div>
                       </div>

                    <ul class="main-menu mobile-only">
                      <li (click)="scrollToTop()"><a (click)="closeAllDropdowns()" routerLinkActive="zusatz-active" [routerLink]="['/', selectedLanguage, 'health-insurance']"  >Health Insurance</a></li>
                      <li (click)="scrollToTop()" ><a (click)="closeAllDropdowns()" routerLinkActive="zusatz-active" [routerLink]="['/', selectedLanguage, 'provision']" >Provision</a></li>
                      <li (click)="scrollToTop()"><a (click)="closeAllDropdowns()" routerLinkActive="zusatz-active" [routerLink]="['/', selectedLanguage, 'legal-insurance']">Legal Insurance</a></li>
                      <li (click)="scrollToTop()" ><a (click)="closeAllDropdowns()" routerLinkActive="zusatz-active" [routerLink]="['/', selectedLanguage, 'car-insurance']">Car Insurance</a></li>
                      <li (click)="scrollToTop()" ><a (click)="closeAllDropdowns()" routerLinkActive="zusatz-active" [routerLink]="['/', selectedLanguage, 'pet-insurance']">Pet Insurance</a></li>
                      <li (click)="scrollToTop()" ><a (click)="closeAllDropdowns()" routerLinkActive="zusatz-active" [routerLink]="['/', selectedLanguage, 'company-insurance']">Company Insurance</a></li>

  
                    </ul>
                  </div>
                </li>
                <li (click)="scrollToTop()" class="nav-li"><a routerLinkActive="bold-text" [routerLink]="['/', selectedLanguage, 'contact']" (click)="closeDropdown()">Contact</a></li>
                <li (click)="scrollToTop()" class="nav-li"><a routerLinkActive="bold-text" [routerLink]="['/', selectedLanguage, 'blogs']"  (click)="closeDropdown()">Blogs</a></li>
  
  
  
  
  
  
                <!-- <li class="language-dropdown" (click)="toggleLangDropdown()">
                  <a class="int-button">
                    <img ngSrc="assets/images/flags/globe.svg" alt="globe" height="16" width="16">
                    {{ displaySelectedLanguage }}
                    <img class="lang-arrow dropdown-arrow" ngSrc="assets/images/arrow-down-caret.svg" height="8" width="8" alt="arrow-down arrow" [class.rotate-90]="isLangDropdownOpen">
                  </a>
  
                  <div class="language-dropdown-content"  [ngClass]="{ 'show-lang-dropdown': isLangDropdownOpen, 'close-lang-dropdown': !isLangDropdownOpen }">
                    <div class="lang-li">
                      <div class="anchor-parent" *ngFor="let lang of langData">
                        <a class="dropdown-item"  (click)="changeLanguage(lang.value)" [ngClass]="{'active': lang.value === selectedLanguage}">
                          <img [ngSrc]="lang.img" alt="" height="16" width="16"><p>{{lang.value_dropdown}}</p>
                        </a>
                      </div>
                    </div>
  
  
                  </div>
                </li> -->
  
               
  
  
              </ul>
            </div>
          </div>
          <button (click)="toggleMenu()" [ngClass]="isMenuOpen ? 'button-open' : 'button-close'">
            <div class="ham-menu">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </button>
        </div>
      </div>
    </div>
  
  }
  