@if (showNavbar){
    <div class="section">
      <div class="custom-container">
        <div class="navbar">
          <div class="logo">
            <!-- <img src="{{GlobalConstants.appLogo}}" alt="info logo" (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'startseite']"> -->
          </div>
          <div class="mobile-menu" [class.open]="isMenuOpen" [class.close]="!isMenuOpen">
            <div class="nav-list">
              <ul class="header-nav">
                <li class="nav-li" (click)="closeDropdown()"><a routerLinkActive="bold-text" (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'startseite']" >
                  {{'navbar.home' | translate}}
                </a></li>
                <li class="dropdown k-vergleich" (click)="toggleDropdown()">
                  <a class="dropdown-services" [ngClass]="{'bold-text': isDropdownOpen}">{{'navbar.health_insurance_comparison' | translate}}
                    <img class="dropdown-arrow" ngSrc="assets/images/arrow-down-caret.svg" height="8" width="8" alt="arrow-down arrow"
                         [class.rotate-90]="isDropdownOpen"></a>
                  <div class="dropdown-content"
                       [ngClass]="{ 'show-dropdown': isDropdownOpen, 'close-dropdown': !isDropdownOpen }">
  
                    <div class="white-background">
                      <ul class="main-menu desktop-only">
                        <div class="white-background">
                          <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'grundversicherung']" class="grund" ><a routerLinkActive="bold-text"  >{{'navbar.subpages.basic_insurance' | translate}}</a></li>
                        </div>
                        <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'zusatzversicherung']" class="zusatz"><a routerLinkActive="bold-text" >{{'navbar.subpages.additional_insurance' | translate}}</a></li>
                        <div class="white-background">
                          <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'neu-in-der-schweiz']"  class="neu"><a routerLinkActive="bold-text" >{{'navbar.subpages.new_in_switzerland' | translate}}</a></li>
                        </div>
                        <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'neugeborene-babys']" ><a routerLinkActive="bold-text" >{{'navbar.subpages.newborn_babies' | translate}}</a></li>
                        <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'krankenkassen-listen']" ><a routerLinkActive="bold-text" >{{'navbar.subpages.health_insurance' | translate}}</a></li>
                        <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'online-beratung']" ><a routerLinkActive="bold-text" >{{'navbar.subpages.online_beratung' | translate}}</a></li>
                      </ul>
                    </div>
  
                    <ul class="main-menu mobile-only">
                      <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'grundversicherung']"><a (click)="closeAllDropdowns()" routerLinkActive="zusatz-active" >{{'navbar.subpages.basic_insurance' | translate}}</a></li>
                      <li class="second-dropdown" (click)="toggleSecondDropdown()">
                        <a [ngClass]="{'zusatz-active': isSecondDropdownOpen}">
                          {{'navbar.subpages.additional_insurance' | translate}} <img ngSrc="assets/images/white-arrow-down-caret.svg" height="8" width="8" alt="arrow-down arrow" [class.rotate-90]="isSecondDropdownOpen">
                        </a>
                        <div class="content-div" [ngClass]="{ 'show': isSecondDropdownOpen, 'close': !isSecondDropdownOpen }">
                          <ul>
                            <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'zusatzversicherung']"><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >{{'navbar.subpages.additional_insurance' | translate}}</a></li>
                            <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'freiwilligekrankenpflegezusatze']"><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >{{'navbar.subpages.voluntary_nursing_supplements' | translate}}</a></li>
                            <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'brillenundkontaktlinsen']"><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >{{'navbar.subpages.glasses_and_contact_lenses' | translate}}</a></li>
                            <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'vorsorgeuntersuchungen']"><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >{{'navbar.subpages.preventive_examinations' | translate}}</a></li>
                            <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'komplementaermedizin']"><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >{{'navbar.subpages.complementary_medicine' | translate}}</a></li>
                            <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'fitnesscenter']"><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >{{'navbar.subpages.fitness_center' | translate}}</a></li>
                            <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'medikamente']"><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >{{'navbar.subpages.medication' | translate}}</a></li>
                            <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'rettungs-und-transportkosten']"><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >{{'navbar.subpages.rescue_and_transport_costs' | translate}}</a></li>
                            <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'auslandsschutz']"><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >{{'navbar.subpages.foreign_protection' | translate}}</a></li>
                            <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'psychotherapie']"><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >{{'navbar.subpages.psychotherapy' | translate}}</a></li>
                            <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'zahnbehandlungen']"><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >{{'navbar.subpages.dental_treatments' | translate}}</a></li>
                            <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'halb-private-spitalabteilung']"><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >{{'navbar.subpages.halb_private' | translate}}</a></li>
                            <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'alternativmedizin']"><a (click)="closeAllDropdowns()" routerLinkActive="green-active" >{{'navbar.subpages.alternativmedizin' | translate}}</a></li>
                          </ul>
                        </div>
                      </li>
                      <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'neu-in-der-schweiz']"><a (click)="closeAllDropdowns()" routerLinkActive="zusatz-active" >{{'navbar.subpages.new_in_switzerland' | translate}}</a></li>
                      <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'neugeborene-babys']"><a (click)="closeAllDropdowns()" routerLinkActive="zusatz-active" >{{'navbar.subpages.newborn_babies' | translate}}</a></li>
                      <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'krankenkassen-listen']"><a (click)="closeAllDropdowns()" routerLinkActive="zusatz-active" >{{'navbar.subpages.health_insurance' | translate}}</a></li>
                      <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'online-beratung']"><a (click)="closeAllDropdowns()" routerLinkActive="zusatz-active" >{{'navbar.subpages.online_beratung' | translate}}</a></li>
  
                    </ul>
  
                    <div class="gray-background-2">
                      <ul class="main-menu dropdown-links-2">
                        <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'freiwilligekrankenpflegezusatze']"><a routerLinkActive="green-active" >{{'navbar.subpages.voluntary_nursing_supplements' | translate}}</a></li>
                        <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'brillenundkontaktlinsen']"><a routerLinkActive="green-active" >{{'navbar.subpages.glasses_and_contact_lenses' | translate}}</a></li>
                        <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'vorsorgeuntersuchungen']"><a routerLinkActive="green-active" >{{'navbar.subpages.preventive_examinations' | translate}}</a></li>
                        <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'komplementaermedizin']"><a routerLinkActive="green-active" >{{'navbar.subpages.complementary_medicine' | translate}}</a></li>
                        <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'fitnesscenter']"><a routerLinkActive="green-active" >{{'navbar.subpages.fitness_center' | translate}}</a></li>
                        <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'halb-private-spitalabteilung']"><a routerLinkActive="green-active" >{{'navbar.subpages.halb_private' | translate}}</a></li>
                      </ul>
                    </div>
                    <div class="gray-background">
                      <ul class="main-menu dropdown-links-3">
                        <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'medikamente']"><a routerLinkActive="green-active" >{{'navbar.subpages.medication' | translate}}</a></li>
                        <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'rettungs-und-transportkosten']"><a routerLinkActive="green-active" >{{'navbar.subpages.rescue_and_transport_costs' | translate}}</a></li>
                        <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'auslandsschutz']"><a routerLinkActive="green-active" >{{'navbar.subpages.foreign_protection' | translate}}</a></li>
                        <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'psychotherapie']"><a routerLinkActive="green-active" >{{'navbar.subpages.psychotherapy' | translate}}</a></li>
                        <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'zahnbehandlungen']"><a routerLinkActive="green-active" >{{'navbar.subpages.dental_treatments' | translate}}</a></li>
                        <li (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'alternativmedizin']"><a routerLinkActive="green-active" >{{'navbar.subpages.alternativmedizin' | translate}}</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li (click)="scrollToTop()" class="nav-li"><a routerLinkActive="bold-text" [routerLink]="['/', selectedLanguage, 'kontakt']" (click)="closeDropdown()">{{'navbar.contact' | translate}}</a></li>
                <li (click)="scrollToTop()" class="nav-li"><a routerLinkActive="bold-text" [routerLink]="['/', selectedLanguage, 'blog']" (click)="closeDropdown()">{{'navbar.blog' | translate}}</a></li>
  
  
  
  
  
  
                <li class="language-dropdown" (click)="toggleLangDropdown()">
                  <a class="int-button">
                    <img ngSrc="assets/images/flags/globe.svg" alt="globe" height="16" width="16">
                    {{ displaySelectedLanguage }}
                    <img class="lang-arrow dropdown-arrow" ngSrc="assets/images/arrow-down-caret.svg" height="8" width="8" alt="arrow-down arrow" [class.rotate-90]="isLangDropdownOpen">
                  </a>
  
                  <div class="language-dropdown-content"  [ngClass]="{ 'show-lang-dropdown': isLangDropdownOpen, 'close-lang-dropdown': !isLangDropdownOpen }">
                    <div class="lang-li">
                      <div class="anchor-parent" *ngFor="let lang of langData">
                        <a class="dropdown-item"  (click)="changeLanguage(lang.value)" [ngClass]="{'active': lang.value === selectedLanguage}">
                          <img [ngSrc]="lang.img" alt="" height="16" width="16"><p>{{lang.value_dropdown}}</p>
                        </a>
                      </div>
                    </div>
  
  
                  </div>
                </li>
  
                <li class="pramien" (click)="scrollPramien()" [routerLink]="['/', selectedLanguage, 'krankenkassen', 'form']">
                  <a (click)="closeDropdown()">{{ 'navbar.calculate_premiums' | translate }}</a>
                </li>
  
  
              </ul>
            </div>
          </div>
          <button (click)="toggleMenu()" [ngClass]="isMenuOpen ? 'button-open' : 'button-close'">
            <div class="ham-menu">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </button>
        </div>
      </div>
    </div>
  
  }
  