@import '../../../styles/index.scss';

.container{
    max-width: 1268px; 
}
.accordion{
    display: flex;
    justify-content: center;
    margin: 150px 0px 180px 0;
    .accordion-cover{
        padding: 0 200px; 
        
    }
}