<div class="container-fluid accordion">
    <div class="container">
        <div class="accordion-cover">

            <tui-accordion>
                @for (item of dataArray; track $index) {
            
                    <tui-accordion-item>
                        {{item.title}}
                        <ng-template tuiAccordionItemContent>
                            {{item.content}}
                        </ng-template>
                    </tui-accordion-item>
                }
            </tui-accordion>
        </div>
    </div>
</div>