<section class="container-fluid main">
    <div class="container">
        <div class="hero">
            <div class="text-div">
                <h1>Contact us</h1>
                <p>
                    Don't hesitate to contact us. 
                    We will try to answer your request as soon as possible. 
                    You can always contact us in writing via the form. 
                     We will give you the best answer we have.
                </p>
                <button>
                    Get offer now
                </button>
            </div>
            <div class="img-div">
                <img src="../../assets/images/contact/contact.svg" alt="besnik-beka">
            </div>
        </div>
    </div>
</section>