<app-global-header
    title="Your independent partner for insurance solutions"
    description="Health insurance is your partner in matters of insurance and financing. You can rely on us if you have any questions about health insurance, pension plans or legal protection. Whether you are a corporate or private customer - our experts will advise you in the best possible way and find the right solution."
    imgSrc="../../assets/images/pet-insurance/pet-insurance.svg"
></app-global-header>
<app-insurance-content 
    firstImage="../../assets/images/pet-insurance/pet-2.jpg"
    secondImage="../../assets/images/pet-insurance/pet-1.jpg"
    firstTitle="Protect Your Pet with Comprehensive Coverage"
    secondTitle="Affordable Pet Insurance for Your Peace of Mind"
    firstDescription={{firstDesc}}
    secondDescription={{secondDesc}}
></app-insurance-content>
<app-global-accordion [dataArray]="accordionData"></app-global-accordion>