<app-global-header
    title="Pet Insurance: Comprehensive Care for Your Furry Family Members"
    description="Give your pets the care they deserve with our affordable and extensive pet insurance plans. From routine check-ups to emergency treatments, we ensure your pets stay healthy and happy, without the burden of unexpected veterinary bills."
    imgSrc="../../assets/images/pet-insurance/pet-insurance.svg"
></app-global-header>
<app-insurance-content 
    firstImage="../../assets/images/pet-insurance/pet-2.jpg"
    secondImage="../../assets/images/pet-insurance/pet-1.jpg"
    firstTitle="Protect Your Pet with Comprehensive Coverage"
    secondTitle="Affordable Pet Insurance for Your Peace of Mind"
    firstDescription={{firstDesc}}
    secondDescription={{secondDesc}}
></app-insurance-content>

<app-global-form></app-global-form>

<app-global-accordion [dataArray]="accordionData"></app-global-accordion>