<app-global-header
    title="Your independent partner for insurance solutions"
    description="Health insurance is your partner in matters of insurance and financing. You can rely on us if you have any questions about health insurance, pension plans or legal protection. Whether you are a corporate or private customer - our experts will advise you in the best possible way and find the right solution."
    imgSrc="../../assets/images/health-insurance/health-insurance.svg"
></app-global-header>

<app-insurance-content 
    firstImage="../../assets/images/health-insurance/health-1.jpg"
    secondImage="../../assets/images/health-insurance/health-2.jpg"
    firstTitle="Comprehensive Health Coverage for You and Your Family"
    secondTitle="Peace of Mind with Our Health Insurance Plans"
    firstDescription={{firstDesc}}
    secondDescription={{secondDesc}}
></app-insurance-content>
<app-global-accordion [dataArray]="accordionData"></app-global-accordion>
