<app-global-header
    title="Company Insurance: Protecting Your Business for Continued Success"
    description="Secure your company’s future with our robust insurance solutions. Our plans cover everything from property damage to liability claims, ensuring your business remains resilient in the face of challenges, allowing you to focus on growth and success."
    imgSrc="../../assets/images/company-insurance/company-insurance.svg"
    buttonText="Get insurance"
    (scrollToSection)="scrollToSection()"
></app-global-header>

<app-insurance-content 
    firstImage="../../assets/images/company-insurance/company-1.jpg"
    secondImage="../../assets/images/company-insurance/company-2.jpg"
    firstTitle="Comprehensive Company Insurance for Your Business"
    secondTitle="Tailored Insurance Solutions for Your Company"
    firstDescription={{firstDesc}}
    secondDescription={{secondDesc}}
></app-insurance-content>

<app-global-form id="targetForm"></app-global-form>

<app-global-accordion [dataArray]="accordionData"></app-global-accordion>