@import "../../styles/index.scss";

.container{
    max-width: 1268px; 
}

.form{
    margin: 150px 0 150px 0;
    display: flex;
    justify-content: center;
    .form-section{
        display: flex;
        justify-content: center;
        column-gap: 70px;
        .form-div{
            max-width: 400px;
            max-height: 600px;
            width: 100%;
            background-color: white;
            box-shadow: #64646f33 0 7px 29px;
            border-radius: 45px;
        }
    }
}