<section class="container-fluid form">
    <div class="container">
        <div class="form-section">
            <div class="form-div">
                <form [formGroup]="myForm">
                    <h3>Form</h3>

                    <div class="insurance-type">
                        <label for="insurance-health"><div class="radio-input"><input type="radio" id="insurance-health"><label>Health insurance</label></div></label>
                        <label for="insurance-provision"><div class="radio-input"><input type="radio" id="insurance-provision"><label>Provision</label></div></label>
                        <label for="insurance-legal"><div class="radio-input"><input type="radio" id="insurance-legal"><label>Legal protection</label></div></label>
                        <label for="insurance-car"><div class="radio-input"><input type="radio" id="insurance-car"><label>Car insurance</label></div></label>
                    </div>
                </form>
                
            </div>
            <div class="form-text">
                <ul>
                    <li>form text</li>
                    <li>form text</li>
                    <li>form text</li>
                </ul>
            </div>
        </div>
    </div>
</section>