@import "../../styles/index.scss";

.container{
    max-width: 1268px; 
}
small{
    color: red;
    font-size: 12px;
}
.margin-t-15{
    margin-top: 15px;
}
.valid-radio{
    border: 1px solid #8CC540!important;
    label{
        color: #8CC540!important;
    }
}
.form{
    margin: 150px 0 150px 0;
    display: flex;
    justify-content: center;
    .form-section{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 70px;
        .form-div{
            max-width: 475px;
            max-height: 620px;
            width: 100%;
            background-color: white;
            box-shadow: #64646f33 0 7px 29px;
            border-radius: 45px;
            padding: 20px 30px;
            .insurance-type{
                display: flex;
                justify-content: center;
                column-gap: 16px;
                row-gap: 16px;
                flex-wrap: wrap;
                margin: 10px 0 0 0;
                .cover-label{ 
                    max-width: 199px;
                    width: 100%;
                }
                .radio-input{
                    // border: 1px solid black;
                    border: 1px solid #e8e8e8;
                    background-color: #fafafa;
                    width: 100%;
                    border-radius: 16px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                    label{
                        margin-left: 5px;
                        color: #a5a5a5;
                    }
                    input{
                        display: none;
                    }
                    .icon-div{
                        width: 25px;
                        height: 25px;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    .icon-health{
                        background-image: url(../../assets/images/global-form/health-icon.svg);
                    }
                    .health-valid{
                        background-image: url(../../assets/images/global-form/health-icon-v.svg)!important;
                    }
                    .icon-provision{
                        background-image: url(../../assets/images/global-form/provision-icon.svg);
                    }
                    .provision-valid{
                        background-image: url(../../assets/images/global-form/provision-icon-v.svg)!important;
                    }
                    .icon-legal{
                        background-image: url(../../assets/images/global-form/legal-icon.svg);
                    }
                    .legal-valid{
                        background-image: url(../../assets/images/global-form/legal-icon-v.svg)!important;
                    }
                    .icon-car{
                        background-image: url(../../assets/images/global-form/car-icon.svg);
                    }
                    .car-valid{
                        background-image: url(../../assets/images/global-form/car-icon-v.svg)!important;
                    }
                }
            }
            .double-input{
                display: flex;
                justify-content: center;
                column-gap: 16px;
                // margin-top: 15px;
               
            }
            .single-input{
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                width: 100%;
                input{
                    // border: 1px solid black;
                    border: 1px solid #e8e8e8;
                    background-color: #fafafa;
                    width: 100%;
                    border-radius: 16px;
                    height: 40px;
                    padding: 0 10px;
                    outline: none;
                }
                span{
                    font-size: 13px;
                }
            }

            .terms{
                display: flex;
                align-items: center;
                margin: 10px 0 0 0;                
                input{
                    height: 15px;
                    width: 15px;
                }
                label{
                    margin-left: 5px;
                    font-size: 13px;
                }
            }

            .button-container{
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 20px;
                button{
                    height: 40px;
                    border-radius: 16px;
                    border: none;
                    max-width: 180px;
                    width: 100%;
                    background-color: #8CC540;
                    color: white;
                }
            }
        }

        .form-text{
            background-color: #f9f9f9;
            padding: 40px 20px;
            border-radius: 16px;
            max-width: 550px;
            max-height: 500px;
            ul{
                // margin-top: 10px;
                list-style: none;
                li{
                    display: flex;
                    align-items: center;
                    margin: 5px 0;
                    .img-div{
                        max-height: 55px;
                        max-width: 55px;
                        width: 100%;
                        height: 55px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 10px;
                        background-color: white;
                        border-radius: 16px;
                    }

                }
            }
            h2{
                margin-bottom: 5px;
            }
        }
    }
}

::ng-deep{
    .valid-select .mat-mdc-text-field-wrapper {
        border: 1px solid #8CC540 !important; 
        background-color: #fafafa !important;
      }

    .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
        padding: 0 10px 0 10px!important;
        border-radius: 16px!important;
        border: 1px solid #e8e8e8;
        background-color: #fafafa!important;
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled){
        background-color: #fafafa!important;
    }
    .mat-mdc-text-field-wrapper{
        height: 40px!important;
    }
    .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label{
        top: 20px!important;
    }
    .mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before{
        display: none;
    }
    .mat-mdc-form-field-infix {
        padding: 7px 0 0 0!important;
    }
    
    .mdc-floating-label--float-above{
        transform: none!important;
        opacity: 0!important;
    }
    

    .mat-form-field-appearance-fill .mat-mdc-select-arrow-wrapper {
        transform: none!important;
    }
    // .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
    //     display: none;
    // }
    
    .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above {
        display: none!important;
    }
    .mat-form-field-hide-placeholder .mat-mdc-select-placeholder{
        color: #a5a5a5!important;
        font-size: 10px!important;
        letter-spacing: normal!important;
    }
    
    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
        display: none!important;
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
        display: none!important;
    }
    .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label{
        font-size: 14px!important;
    }
    .mat-mdc-select-value-text{
        font-size: 14px;
    }
    div.mat-mdc-select-panel .mat-mdc-option{
        font-size: 14px;
    }
    .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text{
        color: #8CC540!important;
    }
    .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after, .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-indeterminate::after{
        color: #8CC540!important;
    }
}