<section class="container-fluid testimonial">
    <div class="container">
        <div class="testimonial-info">
            <h1>Satisfied customers are our goal</h1>
            <p>In order to provide our customers with the best possible advice and exceed the highest requirements, we work as a team to ensure your satisfaction.</p>
        </div>
        <tui-carousel
            [duration]="3000"
            [draggable]="true"
            [(index)]="index"
            [itemsCount]="itemsCount"
            class="carousel-main"
        >
            @for (item of items; track $index) {

                <ng-container>
                    <div *tuiItem  draggable="false" class="custom-div">
                        <div class="info-div">
                            <div class="img-div">
                                <img src="../../../assets/images/testimonial/blank-profile.jpg" alt="profile-pic besnik beka">
                            </div>
                            <h2>{{ item.name }}</h2>
                        </div>
                        <p>{{item.message}}</p>
                    </div>
                </ng-container>
            }
        </tui-carousel>
        <tui-pagination
            size="s"
            class="pagination"
            [length]="items.length"
            [(index)]="index"
        ></tui-pagination>
    </div>
</section>


