<app-global-header
    title="Legal Insurance: Safeguarding Your Rights and Interests"
    description="Navigate legal challenges with confidence, knowing you have expert support at your side. Our legal insurance plans provide access to professional advice and representation, protecting your rights in a wide range of legal matters."
    imgSrc="../../assets/images/legal-insurance/legal-insurance.svg"
    buttonText="Get insurance"
    (scrollToSection)="scrollToSection()"
></app-global-header>

<app-insurance-content 
    firstImage="../../assets/images/legal-insurance/legal-1.jpg"
    secondImage="../../assets/images/legal-insurance/legal-2.jpg"
    firstTitle="Legal Protection When You Need It Most"
    secondTitle="Affordable Legal Coverage for Peace of Mind"
    firstDescription={{firstDesc}}
    secondDescription={{secondDesc}}
></app-insurance-content>

<app-global-form id="targetForm"></app-global-form>

<app-global-accordion [dataArray]="accordionData"></app-global-accordion>