@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
@import "../src/styles/index.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}