@import "../../styles/index.scss";

.container{
    max-width: 1268px; 
}

.main{
    display: flex;
    justify-content: center;
    margin: 250px 0 250px 0;
    .hero{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 150px;
    }
    .text-div{
        max-width: 500px;
    }
}