<section class="container-fluid main">
    <div class="container">
        <div class="hero">
            <div class="text-div">
                <h1>Your independent partner for insurance solutions</h1>
                <p>
                    Health insurance is your partner in matters of insurance and financing. 
                    You can rely on us if you have any questions about health insurance, pension plans or legal protection. 
                    Whether you are a corporate or private customer - our experts will advise you in the best possible way and find the right solution.
                </p>
                <button>
                    Get offer now
                </button>
            </div>
            <div class="img-div">
                <img src="../../assets/images/home/hero-insurance-img.svg" alt="besnik-beka">
            </div>
        </div>
    </div>
</section>


<section class="container-fluid services">
    <div class="container">
        <div class="services-div">
            <div class="text-div">
                <h1>Services</h1>
                <p>
                    At Health Insurance, we offer customized insurance plans for individuals and businesses.
                </p>  
            </div>   
            <div class="services-cards">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
        </div>
        
        
    </div>
</section>