<app-global-header
    title="Protect What Matters Most with Comprehensive Insurance Solutions"
    description="Discover a wide range of insurance options tailored to meet your unique needs. From health and car insurance to legal, provision, pet, and company insurance, we provide the protection you need to secure your future and safeguard your loved ones. Explore our offerings and find the perfect plan to ensure peace of mind in every aspect of your life."
    imgSrc="../../assets/images/home/hero-insurance-img.svg"
></app-global-header>



<section class="container-fluid services">
    <div class="container">
        <div class="services-div">
            <div class="text-div">
                <h1>Services</h1>
                <p>
                    At Health Insurance, we offer customized insurance plans for individuals and businesses.
                </p>  
            </div>   
            <div class="services-cards">
                <div class="card" (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'health-insurance']">
                    <div class="card-img health">
                    </div>

                    <h3>Health insurance</h3>
                </div>
                <div class="card" (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'provision']">
                    <div class="card-img provision">
                    </div>

                    <h3>Provision</h3>
                </div>
                <div class="card" (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'legal-insurance']">
                    <div class="card-img legal">
                    </div>

                    <h3>Legal insurance</h3>
                </div>
                <div class="card" (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'car-insurance']" >
                    <div class="card-img car">
                    </div>

                    <h3>Car insurance</h3>
                </div>
                <div class="card" (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'pet-insurance']">
                    <div class="card-img pet">
                    </div>

                    <h3>Pet insurance</h3>
                </div>
                <div class="card" (click)="scrollToTop()" [routerLink]="['/', selectedLanguage, 'company-insurance']">
                    <div class="card-img company">
                    </div>

                    <h3>Company insurance</h3>
                </div>
            </div>
        </div>
        
        
    </div>
</section>

<app-global-form></app-global-form>

<section>
    <div class="container-fluid family">
        <div class="container">
            <div class="family-section">
                
                <div class="text-section">
                    <h1>About our <span>Services</span></h1>
                    <p>
                        We always neutrally work for our customer's needs.<br>
                        You decide which service you would like to use. We can advise you in person, online or through the phone.
                        <br><br>
                        Do not hesitate to contact us.
                    </p>
                    <button>Get offer now</button>
                </div>

                <div class="photo-section">
                    <div class="photo-1">
                        <img src="../../assets/images/home/family-bike.jpg" alt="besnik-beka">
                    </div>
                    <div class="photo-2">
                        <img src="../../assets/images/home/happy-family.jpg" alt="besnik-beka">
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>



<app-testimonial></app-testimonial>